@font-face {
  font-family: "topicFont";
  src: url("src/assets/fonts/華康墨字體_(P).TTC") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "contextFont";
  src: url("src/assets/fonts/華康POP1體W7_W7(P).TTC") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "contextFont2";
  src: url("src/assets/fonts/華康方圓體W7_W7(P).TTC") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  list-style: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  /* display: grid;
  grid-template-rows: 1fr auto; */
}

.wrap {
  min-height: 100%;
  /* margin-bottom: -50px; */
  /* flex-grow: 1; */
}

header {
  margin: 0px;
}

.nav-bar {
  height: 50px;
  background-color: #31525b;
  color: #b3dee5;
}

.nav-bar ul {
  display: flex;
  font-size: 0;
  justify-content: flex-end;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  height: 30px;
}

.nav-bar ul li {
  display: inline-block;
  padding-right: 2%;
}

.nav-bar a {
  color: inherit; /*移除超連結顏色*/
  font-family: contextFont;
  font-size: 20px;
  text-decoration: none; /*移除超連結底線*/
}

.nav-bar a:hover {
  background-color: rgb(252, 255, 192);
  color: rgb(198, 56, 56);
  /* text-decoration: solid rgb(4, 4, 96) */
}

.background {
  /* margin-top: -50px; */
  padding-top: 50px;
  padding-bottom: 200px;
  background-color: #F2EBE5;
  /* opacity: 0.5; */
  /* background-image: url('src/assets/images/台南風景.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.5;
  width: 100%;
  position: relative; */
}

.container {
  width: 1000px;
  margin: auto;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.title {
  /* display: flex;
  flex-wrap: wrap; */
  font-family: topicFont;
  font-size: 60px;
  color: #022151;
  /* margin-top: 20px; */
  margin-left: 50px;
}

.div-add,
.div-modify, .add-api {
  margin-bottom: 20px;
  font-family: contextFont;
  font-size: 20px;
  background: #f9f3a6;
}

.form-control {
  margin-bottom: 5px;
}

#info {
  height: 100px;
}

#description {
  height: 200px;
}

.attractions {
  /* background-color: rgb(255, 255, 255);
  opacity: 0.8; */
  height: auto;
  min-height: 300px;
  border: 3px;
  border-color: black;
  border-style: solid;
  margin-top: 10px;
  padding: 5px;
  padding-top: 10px;
  /* display: flex;
  flex-wrap: wrap; */
}

.show-api {
  font-family: contextFont;
  font-size: 18px;
}

.div-api {
  display: flex;
  flex-wrap: wrap;
  padding-right: 5%;
}

.select {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  font-family: contextFont;
  margin: 5px;
  color: #022151;
}

select option:hover,
option:checked {
  /*???*/
  background-color: #bacec1;
}

.select label {
  font-size: 22px;
  margin-top: 5px;
  vertical-align: middle;
}

.form-select {
  font-size: 18px;
  margin-right: 5%;
  color: #022151;
  background-color: #e7ecef;
}

.select button {
  font-size: 20px;
  margin-right: 10px;
}

.btn-list {
  margin-left: -4%;
}

.btn-outline-danger {
  margin-right: 5px;
}

.row-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: contextFont;
  font-size: 22px;
  padding-right: 50px;
}

.edit-btns {
  /* margin-left: 50px; */
}

.edit-btns :hover {
  color: red;
}

.edit-btns i {
  margin-left: 10px;
}

.pages {
  position: relative;
  right: 30%;
  left: 30%;
  font-family: contextFont;
  font-size: 18px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background-color: #bacec1;
}

::ng-deep ul li:not(.active) a {
  border: 0;
  border-radius: 5px;
  text-decoration: none;
}

::ng-deep ul li:not(.active) a:hover {
  background-color: #ffffbb;
}

footer {
  height: 50px;
  text-align: center;
  background-color: #31525b;
  color: #b3dee5;
  font-family: contextFont;
  font-size: 20px;
  padding: 3px;
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  /* margin-top: 10%; */
  margin-bottom: -50px;
}

footer p {
  padding-top: 8px;
}
